<div class="jumbotron">
    <h2>Spotify Acronym Playlist Generator</h2>
    <p class="lead">Using Spotify Web API, we generate a customized playlist based on your name. For each letter, we pick a song from your playlists.</p>
    <p><a href="/Playlist" class="btn btn-primary btn-lg">Make Playlist &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Just click on "Make Playlist" to have your customized acronym playlist generated instantly!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Click to play</h2>
        <p>Once the playlist is generated, just click on the Songs to start playing them, or click on the Artists to browse their phonography.</p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>If you like what you see and you're a geek, check out our GitHub repository to find out how it works, and feel free to contribute and help us evolve!</p>
        <p><a class="btn btn-default" href="https://github.com/felipecastrosm/SpotifyAcronymPlaylist" target="_blank">GitHub &raquo;</a></p>
    </div>
</div>