@using System.Web.UI.HtmlControls
@using System.Web.UI.WebControls
@using SpotifyWebAPI
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Welcome, <a href="https://play.spotify.com/user/@ViewBag.UserId" target="_blank">@ViewBag.Username</a>!</h3>
<h4>Here is the playlist we just generated, customized for you:</h4>

@if (ViewBag.AcronymPlaylist == null)
{
	<p>Whoops, we didn't find any Playlists with Tracks in your Spotify Account! Please create some Playlists or add some Tracks to your existing Playlists. We will use the songs on your Saved Playlists to create your Acronym Playlist.</p>
}
else
{
	using (Ajax.BeginForm("Save", "Playlist", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "HandleAjaxResponse", OnBegin = "SaveStarted", OnComplete = "SaveCompleted" }))
	{
		<ul>
			@foreach (Track track in ViewBag.AcronymPlaylist)
			{
				<li>
					<a href="http://open.spotify.com/track/@track.Id" target="_blank">@track.Name</a> by @Html.Raw(String.Join(", ", track.Artists.Select(a => "<a href=\"https://play.spotify.com/artist/" + a.Id + "\" target=\"_blank\">" + a.Name + "</a>")))
					<input type="hidden" name="trackIds" value="@track.Id" />
				</li>
			}
		</ul>
		<br/>
		<h4>Save Playlist:</h4>
		<label for="playlistName">Name:</label>
		<input type="text" name="playlistName" id="playlistName" required /><br />
		<span style="font-weight: bold">Privacy:</span><br />
		<input type="radio" id="isPrivate" name="isPublic" value="false" checked="checked" />
		<label for="isPrivate">Private</label><br />
		<input type="radio" id="isPublic" name="isPublic" value="true" />
		<label for="isPublic">Public</label><br />
		<input type="submit" id="savePlaylistBtn" value="Save Playlist"/>
	}
}
